@import "../../../assets/styles/variables";
header{
    padding-top:20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .header__wrap{
        display: flex;
        align-items: start;
        justify-content: left;
    }
}
.logo{
    width: 20%;
    margin-top: 1rem;
}
.profileSec{
    width: 20%;
    display: flex;
    align-items: center;
    &__img{
        margin-right: 20px;
    }
    &__name{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $white;
    }
}
.nav-section{
    width: 60%;
}