.footer{
    box-shadow: -2px -4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
    &__wrap{
        padding: 1.3rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}