
$ff: SFUIFontRegular;
$ff-medium: SFUIFont-Medium;
$ff-bold: SFUIFont-Bold;

$app-primary: #464A53;
$app-secondary: #6CCAA9;
$app-blue: #4C399E;
$white: #fff;
$black: #000;
$tab-text: #797979;
$tab-bg: rgba(218, 218, 218, 0.95);
$btn-bg-grey: #ABABAB;
$btn-bg-green: #6CCAA9;